@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.parent {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}

.div0 {
  grid-column: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 3;
}

.div1 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.div2 {
  grid-column: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 1;
}

.div3 {
  grid-column-start: 4;
  grid-row-start: 2;
}

.div6 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.div0 .mainWrapper , .div2 .mainWrapper{
  display: flex;
}

.div0 .user .mainWrapper .mainCards , .div2 .user .mainWrapper .mainCards {
  height: 100px;
  width: 40px;
  border: 1px solid;
}

.div1 .user .mainWrapper .mainCards , .div3 .user .mainWrapper .mainCards {
  height: 15px;
  width: 100px;
  border: 1px solid;
}

.mainCards.h , .mainCards.d{
  color: red;
}